:root {
    --main-color: #333;
    --secondary-color: #f4f4f4;
    --border-color: #b9b5b5;
    --text-color: #fff;
    --padding: 20px;
    --font-family: "adobe-caslon-pro", Georgia, "Times New Roman", "DejaVu Serif", serif;
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: var(--main-color);
    color: var(--text-color);
    padding: var(--padding) 0;
    text-align: center;
}
    
nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

nav ul li:first-child {
    margin-right: auto;
    padding-left: 50px;
}

nav ul li {
    margin: 0 10px;
    padding-right: 50px;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
}

section {
    padding: var(--padding);
    margin: 0;
}

#home {
    background: var(--secondary-color);
    text-align: center;
}

#portfolio h1,
#contact h2,
#hobbies h2 {
    text-align: center;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;  
    text-align: center; 
    padding: var(--padding);     
}

.about-text, .about-image {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;      
    padding: 0px;
}

.about-text {
    font-size: 25px;
}

.about-image img {
    max-width: 100%;
    border-radius: 50%;
}

.arrow {
    margin-top: 0px;
    height: 80px;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: var(--padding) 0;
}

.portfolio-item {
    border: 2px solid var(--border-color);
    border-radius: 10px;
    text-align: center;
    background-color: #f5f3f3;
    /* margin: 10px; */
    width: 475px; 
    height: 525px;; 
}

.portfolio-item img {
    width: 350px;   
    height: 300px;  
    border: 2px solid var(--border-color);
    border-radius: 10px;
    object-fit:fill;
}

footer {
    background: var(--main-color);
    color: var(--text-color);
    padding: 10px;
    text-align: left;
}

@media (max-width: 768px) {
    .portfolio-item {
        width: calc(50% - 40px);
    }
}

@media (max-width: 480px) {
    .portfolio-item {
        width: 100%;
    }

    nav ul {
        flex-direction: column;
    }

    .about-container {
        flex-direction: column;
    }
}